@model ItemViewModel
<div class="col d-flex justify-content-center mb-4">
    <div class="card">
        <div class="product-tile-xl-body">
            <a class="model-item-body-big" asp-controller="product" asp-action="index" asp-route-id="@Model.Id">
                @if (Model.ImageUrl != null)
                {
                   <img class="model-item-img w-100" src="@Model.ImageUrl" alt="@Model.Title" />  
                }
            </a>
            <div class="d-flex justify-content-between align-items-end">
                <div>
                    @if (Model.Title != null) { <h4 class="product-tile-title">@Model.Title</h4> }
                    @if (Model.Description != null) { <p>@Model.Description</p> }
                    @if (Model.Creator != null) { <span>Post by: @Model.Creator</span> }
                    @if (Model.Comments != null) { <span>Comments @Model.Comments</span> }
                </div>
            </div>
        </div>
    </div>
</div>