@model ItemViewModel

<div class="col d-flex justify-content-center">
    <div class="card">
        <div class="product-tile-body">
            <a class="model-item-body" asp-controller="product" asp-action="index" asp-route-id="@Model.Id">
                @if (Model.ImageName != null)
                {
                    if (Model.ImageName.Contains("/"))
                    {
                         <img class="model-item-img" src="@Model.ImageName" alt="@Model.Title" />
                    }
                    else
                    {
                        <img class="model-item-img" src="@Url.Content("~/imgs/products/" + Model.ImageName)" alt="@Model.Title" />
                    }
                }
            </a>
            <div class="d-flex justify-content-between align-items-end">
                <div>
                    @if (Model.Title != null) { <h2 class="product-tile-title">@Model.Title</h2> }
                    @if (Model.OldPrice != null) { <span class="product-tile-price text-decoration-line-through me-2">$@Model.OldPrice</span> }
                    @if (Model.Price != null) { <span class="product-tile-price">$@Model.Price</span> }
                </div>
                <a><i class="fa-solid fa-cart-plus"></i></a>
            </div>
        </div>
    </div>
</div>