@{
    var users = await userService.GetAllAsync();
}

<partial name="/Views/Shared/Partials/Sections/_AdminNav.cshtml" />

<div class="container d-flex justify-content-center align-items-center mt-5">
    <div class="content-list mt-5">
        <h3 class="collection-title">Users</h3>
        @if (users != null)
        {
            <table>
                <thead>
                    <tr>
                        <th>Full Name</th>
                        <th>Email</th>
                        <th>Street</th>
                        <th>Role(s)</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var user in users)
                    {
                        <tr>
                            <td>@user.FirstName @user.LastName</td>
                            <td>@user.Email</td>
                            <td>
                                @if (user.Address != null)
                                    {
                                        @user.Address.StreetName 
                                    }
                                </td>
                            <td>
                                @if(user.Roles != null) {
                                    @foreach (var role in user.Roles)
                                    {
                                        <div class="px-1">@role</div>
                                    }
                                }
                            </td>
                            <td>
                                <a class="admin-nav-link" asp-controller="admin" asp-action="edituser" asp-route-userId="@user.Id"><i class="fa-solid fa-user-pen"></i> Edit user</a>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>
